@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: overlay;
}

body {
  cursor: url('/svg/cursor.svg'), auto;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8f2525;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
